.navigation__link {
  height: 22px;
  color: #A9A9A9;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  padding: 0;
  border: none;
  margin-left: 24px;
  text-decoration: none;
}

.navigation__link:focus {
  outline: none;
}

.navigation__link:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 0.2s ease;
}